/* Navigation Bar */

.grid-container-topnav {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-bottom: 25px;
}

nav{
    background-color:green;
    margin-right: 90px;
    margin-left: 90px;
    overflow: hidden;
}

nav img{
    position: relative;
    height: 150px;
    width: 150px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 8.5cm;
}

nav ul {
    padding-top: 80px;
    float: right;
} 

nav li {
    list-style-type: none;
    height: 24px;
    margin-bottom: 4px;
    display: inline;
}

nav li a {
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    line-height: 0px;
    padding: 5px 15px;
    opacity: 0.7;
}

nav a:hover {
    background-color: #fff59d;
    color: #f7b71d;
}

/* End Navigation Bar */
/* Start About SMPC */

main {
    background-color: #fff8b6;
    margin-left: 90px;
    margin-right: 90px;
    border-style: solid;
    border-color: #8bc34a;
    border-width: 5px;
}

main h1 {
    margin-left: 3cm;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #118a7e;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    position: relative;
    box-sizing: 150px;
    margin-left: 3cm;
}

.grid-article {
    box-sizing: content-box;
    padding-top: 30px;
    padding-right: 70px;
    text-wrap: wrap;
    text-align: justify;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #118a7e;
}

.grid-container-about-us {
    display: grid;
    margin-left: 90px;
    margin-right: 90px;
    grid-template-columns: auto auto;
    background-color:  #fff8b6;
    padding: 10px;
}

.grid-item {
    background-color: none;
    border: none;
    padding: 20px;
}

div.grid-container{
    border-style: solid;
    border-color: #8bc34a;
    border-width: 5px;
    container-type: inline-size;
    background-color: #fff8b6;
}

.grid-item h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #118a7e;
}

.grid-item ul {
    padding-top: 25px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #118a7e;
}

.grid-item img {
    position: relative;
    box-sizing: inherit;
    text-align: center;
    padding-top: 80px;
}

.grid-item p {
    position: relative;
    color: #118a7e;
    margin-left: 55px;
}

.mission h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:#118a7e;
    text-align: center;
    text-decoration: underline  
}

.mission p {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #118a7e;
    text-align: center;
}

.vision h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:#118a7e;
    text-align: center;
    text-decoration: underline  
}

.vision p {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #118a7e;
    text-align: center;
}

.grid-container-bldg {
    display: grid;
    margin-left: 90px;
    margin-right: 90px;
    grid-template-columns: auto auto;
    background-color:  #fff8b6;
    padding: 10px;
}

.grid-item-bldg {
    background-color: none;
    border: solid;
    border-color: #8bc34a;
    padding: 20px;
}

div.grid-container{
    border-style: solid;
    border-color: #8bc34a;
    border-width: 5px;
    container-type: inline-size;
    background-color: #fff8b6;
}

.old-bldg h3 {
    padding-bottom: 25px;
    color: #118a7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.old-bldg img {
    position: relative;
    margin-left: 35px;
}

.old-bldg p {
    color: #118a7e;
    margin-left: 105px;
}

.new-bldg h3 {
    padding-bottom: 25px;
    color: #118a7e;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.new-bldg img {
    position: relative;
    margin-left: 35px;
    height: 500px;
}
.new-bldg p {
    color: #118a7e;
    margin-left: 105px;
}

/* End About Us */

/* Start Footer */

.grid-container-footer {
    display: grid;
    margin-left: 90px;
    margin-right: 90px;
    grid-template-columns: auto auto auto;
    background-color: #8bc34a;
    padding: 10px;
}

.grid-quick-links h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 75px;
}

.grid-quick-links ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.grid-quick-links li a{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 0px;
    padding: 15px;
    padding-left: 55px;
}

.grid-contact-us h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.grid-address > p{
    text-indent: 30px;
    color: white;
}

.grid-address a{
    color: white;
    text-decoration: none;
}

#map{
    padding-top: 50px;
    padding-right: 50px;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    float: center;
}

/* End Footer */

/* Phone View */
@media only screen and (max-width:480px) { 
    
    /* navigation bar */
    .grid-container-topnav img {
        float: left;
        margin-left:35px;
        width: 75%;
        height: auto;
    }
    
    .grid-container-topnav {
        display: inline-block;
    }

    .grid-container-topnav li a {
        float: center;
        font-size: 12px;
    }
    /* end navigation bar */
    
    /* main */

    main h1 {
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 30px;
    }

    .logo {
        position: relative;
        margin-left: 10px;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .grid-article {
       text-align: justify;
       font-size: 13px;
       padding-top: 150px;
       padding-left: 10px;
       padding-right: 10px;
    }

    .grid-container-about-us {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;   
        padding: 10px;
    }
    
    .grid-item {
        background-color: none;
        border: none;
        padding: 0px;
    }
    
    .grid-item h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: left;
        text-decoration: underline;
        margin-right: 0px;
    }
    
    .grid-item ul {
        padding-top: 25px;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: left;

    }
    
    .grid-item img {
        position: relative;
        box-sizing:unset;
        text-align: center;
        padding-top: 25px;
    }
    
    .grid-item p {
        position: relative;
        margin-left: 55px;
        font-size: 12px;
    }
    
    .mission h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline  
    }

    .mission p {
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 13px;
    text-align: center;
    }

    .vision h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline  
    }

    .vision p {
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #118a7e;
    text-align: center;
    }

    .grid-container-bldg {
    display: inline-block;
    grid-template-columns: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px
    }

    .grid-item-bldg {
    padding: 10px;
    }

    div.grid-container{
    border-width: 5px;
    }

    .old-bldg h3 {
    padding-bottom: 10px;
    text-align: left;
    }

    .old-bldg img {
    position: relative;
    margin-left: 5px;
    }

    .old-bldg p {
    margin-left: 25px;
    font-size: 10px;
    }

    .new-bldg h3 {
    padding-bottom: 25px;
    text-align: left;
    }

    .new-bldg img {
    position: relative;
    margin-left: 3px;
    height: 150px;
    }

    .new-bldg p {
    margin-left: 25px;
    font-size: 10px;
    }
/* end main */

/* footer */
.grid-container-footer {
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.grid-quick-links h3 {
  padding-left: 25px;
}

.grid-quick-links li a {
    padding-left: 15px;
}

#map {
    padding-left: 45px;
}
}
/* End Phone View */

 /* Tablet View */

 @media only screen and (min-width:481px) and (max-width:1024px) {
    /* navigation bar */
nav img {
   float: center;
   margin-left: 105px;
}

.grid-container-topnav {
   display: inline-block;
}

nav li {
   float: center;
}
/* end navigation bar */

/* main */
main p {
   margin-left: 25px;
   margin-right: 75px;
   font-size: 25px;
}
.grid-container-bldg {
    display: inline-block;
    grid-template-columns: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px
    }

    .grid-item-bldg {
    padding: 10px;
    }

    div.grid-container{
    border-width: 5px;
    }

    .old-bldg h3 {
    padding-bottom: 10px;
    text-align: left;
    }

    .old-bldg img {
    position: relative;
    margin-left: 15px;
    }

    .old-bldg p {
    margin-left: 25px;
    font-size: 10px;
    }

    .new-bldg h3 {
    padding-bottom: 25px;
    text-align: left;
    }

    .new-bldg img {
    position: relative;
    margin-left: 15px;
    height: 350px;
    }

    .new-bldg p {
    margin-left: 25px;
    font-size: 10px;
    }
}

/* End Tablet View */